<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Success page</title>
        <style>
            body {
                margin: 0;
                padding: 0;
                font-family: Arial, Sans-Serif;
            }
            h2 {
                font-size: 30px;
                color: green;
            }
            a {
                text-decoration: none;
                font-size: 30px;
            }
        </style>
    </head>
    <body>
        <h2>{{ message }}</h2>
        <a href="/register_page/">Back</a>
    </body>
</html>